body{
text-align: center;
background-color: #dbbca0;
}

table.center {
   margin-left:auto;
   margin-right:auto;
 }

 table {
     border: 1px solid #3399ff;
 }

table, td, th{
border-collapse: collapse;
}

button{

}

input{

}
